{
  "uri": "postgresql://username:your_password@localhost:5432/your_database",
  "default_target_schema": "public",
  "batch_size_rows": 10000,
  "overwrite_behavior": "append",
  "add_record_metadata": true
}
