{
  "driver": "postgresql",
  "connection_kwargs": {
    "username": "postgres",
    "password": "your_password",
    "host": "localhost",
    "port": 5432,
    "db_name": "your_database"
  },
  "default_target_schema": "public",
  "batch_size": 10000,
  "overwrite_behavior": "append",
  "add_record_metadata": true
}
